@using ChefMonsters.Common
@using ChefMonsters.Web.ViewModels.Home
@model IndexViewModel
@{
    this.ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to @GlobalConstants.SystemName!</h1>
    <p>Unleash your creativity with @Model.RecipeCount recipes, @Model.CategoryCount categories, and @Model.IngredientCount ingredients.</p>
</div>
