@model IndexViewModel

@{
    ViewData["Title"] = "Recipes, Videos and Cooking classes";
    ViewData["Total"] = @Model.RecipeCount + @Model.VideosCount + @Model.CookingClassesCount;
}

<div class="text-center">
    <h1>One library, millions of ways to level up your cooking skills</h1>
    <h2>Become fearless in the kitchen with @ViewData["Total"] recipes, videos and cooking classes.</h2>
</div>
<br />
<div class="row">
    <div class="col-md-4">
        <h2>Quickly master complex, flavorful dishes</h2>
        <p>
            Chef monsters’s coaching guides you from culinary self-doubt to mastery.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Pick a recipe</h2>
        <p>
            Choose from over 500 video guided recipes, with new ones added weekly.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Watch and learn, then eat</h2>
        <p>
            Our video guides take you through every step of every recipe, leading to consistently delicious results.
            From perfect pancakes to the best seafood stew you've ever tasted. Choose from 500+ recipes and level up your cooking skills.
        </p>
    </div>
</div>
